// Abstracts
@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/animations";

// Base
@import "base/resets";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// Shared
@import "components/shared/btns";
@import "components/shared/inputs";

// SaSS Components
@import "components/searchInput";

// Components react
@import "components/notFound";



// Layout
@import "layouts/grid";
@import "layouts/header";
@import "layouts/footer";

// Pages
@import "pages/home";