// Abstracts
@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/animations";

// Base
@import "base/resets";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// Shared
@import "components/shared/btns";
@import "components/shared/inputs";

// SaSS Components
@import "components/searchInput";
@import "components/details";


// Components react
@import "components/react/NotFound";
@import "components/react/Form";
@import "components/react/Card";
@import "components/react/Slider";
@import "components/react/Modal";

// Layout
@import "layouts/header";
@import "layouts/footer";

// Pages
@import "pages/home";