.u-center-container { margin: 0 auto; }

.u-margin-bottom-small {margin-bottom: 2rem;}
.u-margin-bottom-medium {margin-bottom: 4rem;}
.u-margin-bottom-big {margin-bottom: 8rem;}

.u-margin-top-small {margin-top: 2rem;}
.u-margin-top-medium {margin-top: 4em;}
.u-margin-top-big {margin-top: 8rem;}

.u-margin-left-small {margin-left: 2rem;}
.u-margin-left-medium {margin-left: 4rem;}
.u-margin-left-big {margin-left: 8rem;}

.u-padding-top-small {padding-top: 2rem;}
.u-padding-top-medium {padding-top: 4em;}
.u-padding-top-big {padding-top: 8rem;}