.searchInput {
  position: relative;
  width: 0px;
  padding: 10px 30px;
  transition: width 300ms ease;
  overflow: hidden;

  &--expand {
    width: 300px;
    border: 1px solid white;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    &--expand {
      display: block;
    }

    &--search {
      left: 0px;
      font-size: 18px;
    }
    &--times {
      right: 15px;
      font-size: 16px;
    }
  }
}
