.swiper-container {
  overflow: visible !important;

  &:hover .swiper-button-prev {
    visibility: visible;
  }
  &:hover .swiper-button-next {
    visibility: visible;
  }
}

.swiper-button-prev,
.swiper-button-next {
  visibility: hidden;
}
