.footer {
  width: 100%;
  background: $main-cl;
  @include flexbox(center, center);

  &__wrapper {
    width: 1280px;
    max-width: 1280px;
    display: grid;
    padding: 15px 0 0 0;
    align-items: flex-start;

    @include respond(base) {
      grid-template-columns: repeat(auto, 1fr);
    }
    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(tab-port) {
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
    }
  }

  &__group {
    margin: 10px 0;
  }

  &__paragraph {
    color: #9a9a9a;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
  }
  .icons-media {
    & > svg {
      font-size: 24px;
      color: black;

      &:not(:first-child) {
        margin-left: 10px;
      }

      @include respond(tab-port) {
        font-size: 31px;
      }
    }
  }

  &__title {
    color: #141414;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
  }

  &__links {
    @include flexbox(flex-start, flex-start, column);
    padding-top: 10px;
  }

  &__item {
    color: #a1a1a1;
    width: 100%;
    font-family: Montserrat;
    font-size: 14px;
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
}

.remember {
  color: $main-cl;
  font-family: $main-font;
  @include flexbox(flex-start, center);
  padding-bottom: 10px;

  & > label {
    margin-left: 10px;
    font-size: $btn-standar;
    color: $fourth-cl;
    font-family: $main-font;

    &:hover {
      cursor: pointer;
      outline: none;
    }
  }
}

//   &__info {
//     grid-column: 2/3;

//     & > h1 {
//       grid-column: 1/2;
//       grid-row: 1/2;
//       align-self: flex-end;
//     }
//   }

//   &__company {
//     grid-column: 3/4;
//   }

//   &__links {
//     grid-column: 4/5;
//   }
//   &__form {
//     grid-column: 5/6;
//   }
