.header {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 10;
  display: grid;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;

  background-color: transparent;
  position: fixed;
  width: 100%;

  grid-template-columns: auto 1fr auto;

  @include respond(tab-port) {
    grid-template-columns: auto 1fr auto auto;
  }
  &--bg {
    background-color: $third-cl;
  }

  &__photo {
    object-fit: cover;
    max-width: 40px;
  }
}

.nav {
  font-family: $main-font;

  &__item {
    letter-spacing: 0;
    line-height: 16px;
    font-size: 16px;
    color: $main-cl;
    font-family: $main-font;
    transition: all 300ms;

    &:hover {
      color: $second-cl;
    }

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  // Dropdown
  &__dropdown-content {
    @include flexbox(flex-start, center, colunm);

    @include respond(tab-port) {
      @include flexbox(flex-start, center);
    }
  }

  &__dropbtn {
    padding: 16px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__dropdown {
    position: relative;
    display: inline-block;

    &:hover .nav__dropdown-content {
      @include flexbox(center, center, colunm !important);
    }
  }
  &__dropdown-content {
    display: none;
    position: absolute;
    border: 2px solid $main-cl;
    padding: 20px;
    margin: 10px 0;
    background: $third-cl;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    @include respond(tab-port) {
      display: block;
      position: initial;
      margin: 0;
      border: none;
    }
  }
}
