.header {
  padding-top: 15px;
  padding-bottom: 15px;
  // @include width(100vw, 100vw);
  z-index: 10;
  display: grid;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto 1fr auto auto;
  background-color: transparent;
  position: fixed;
  width: 100%;
 

  &--bg {
    background-color: $third-cl;
  }

  &__photo {
    object-fit: cover;
    max-width: 40px;
  }
}

.nav {
  &__options {
    @include flexbox(flex-start, center);
  }

  &__item {
    letter-spacing: 0;
    line-height: 16px;
    font-size: 16px;
    color: $main-cl;
    font-family: $main-font;
    transition: all 300ms;

    &:hover {
      color: $second-cl;
    }

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
}
