.header {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 10;
  display: grid;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;

  grid-template-columns: auto 1fr auto;

  @include respond(tab-port) {
    grid-template-columns: auto 1fr auto auto;
  }
  &--bg {
    background-color: $third-cl;
  }

  &__photo {
    object-fit: cover;
    max-width: 40px;
  }
}

.nav {
  font-family: $main-font;

  &__item {
    letter-spacing: 0;
    line-height: 16px;
    font-size: 16px;
    color: $main-cl;
    font-family: $main-font;
    transition: all 300ms;
    margin: 10px 0;

    &:hover {
      color: $second-cl;
    }

    &:not(:first-child) {
      @include respond(tab-port) {
        margin: 0 0 0 20px;
      }
    }
  }

  // Dropdown - Menu
  &__dropdown {
    position: relative;
    display: inline-block;

    &:hover .nav__dropdown-content {
      display: flex;
    }
  }

  &__dropbtn {
    padding: 16px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__dropdown-content {
    animation: fadeEffect ease 0.5s;
    display: none;
    position: absolute;
    border: 2px solid $main-cl;
    padding: 20px;
    margin: 10px 0;
    background: $third-cl;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    z-index: 1;

    @include respond(tab-port) {
      display: block;
      position: initial;
      margin: 0;
      border: none;
      @include flexbox(flex-start, center);
    }
  }

  // Dropdown - Profile

  &__dropdown-profile {
    position: relative;
    display: inline-block;

    &:hover .nav__dropdown-content--profile {
      display: block;
    }
  }

  &__dropbtn--profile {
    padding: 16px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;

   
  }
  &__dropdown-content--profile {
    display: none;
    animation: fadeEffect ease 0.5s;
    position: absolute;
    right: 0px;
    border: 2px solid $main-cl;
    padding: 20px;
    margin: 10px 0;
    background: $third-cl;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    z-index: 1;
  }
}