.section-auth {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  column-gap: 40px;
  height: 100vh;

  &__form {
    grid-row-start: 7;

    @include respond(base) {
      grid-column: 1/-1;
    }
    @include respond(tab-port) {
      grid-column: 1/7;
    }
  }

  &__picture {
    grid-column: 7/13;
    grid-row: 1/-1;
    background-image: url("../../img/picture1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }
}

.section-home {
  @include flexbox(center, normal);
  width: 100%;
  overflow: hidden;
  position: relative;

  @include respond(tab-port) {
    height: 650px;
  }

  &__picture {
    width: 100%;
    & > img {
      width: 100%;
      object-fit: cover;
      height: 500px;
      @include respond(tab-port) {
        height: 750px;
      }
    }
  }

  &__info {
    position: absolute;
    bottom: 10%;
    color: white;
    left: 0;
    @include respond(tab-port) {
      top: auto;
      bottom: 15%;
    }
  }
}

.section-films {
  overflow: hidden;
}

.section-list {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 20px;

  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include respond(tab-land) {
    grid-template-columns: repeat(5, 1fr);
  }
  @include respond(small-desktop) {
    grid-template-columns: repeat(6, 1fr);
  }

  &__item {
    flex: 0 1 15%;
  }
}

.section-titles {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 12em;
  row-gap: 20px;
  align-items: flex-start;

  @include respond(tab-port) {
    grid-template-columns: 150px auto;
  }

  &__related {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;

    &:hover {
      color: $second-cl;
    }
  }
  &:hover &__line {
    color: $main-cl;
  }
}

.section-movies {
  margin-top: 12em;
  padding-bottom: 4em;
}
