.btn {
  @include flexbox(center, center);
  color: $main-cl;
  font-family: $main-font;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  border: 1px solid $main-cl;
  transition: all 300ms;
  padding: 15px 20px;
  display: inline-block;

  &--blue {
    background-color: $second-cl;
    border: none;
    &:hover {
      background-color: #0f3869;
    }
  }

  &--transparent {
    background-color: transparent;

    &:hover {
      background-color: #1d6ccc;
      border: 1px solid #1d6ccc;
    }
  }
}
