.btn {
  color: $main-cl;
  font-family: $main-font;
  font-size: 16px !important;
  font-weight: bold !important;
  transition: background-color 300ms;
  padding: 15px 20px !important;
  border: none !important;
  width:100%;

  &--blue {
    background-color: $second-cl !important;

    &:hover {
      background-color: #275791 !important;
      border: 1px solid #275791;
    }
  }

  &--transparent {
    background-color: transparent;
    &:hover {
      background-color: #1d6ccc;
    }
  }
}